#TestApp{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color : #BFC0C1;
  background-color: #D1695B;
}


#TestApp{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 35px auto 25px;
  grid-template-areas: "header header"
                       "cards deck-overwiew"
                       "footer footer";
  grid-gap: 1px 1px;

}
#TestApp > header{
  grid-area: header;
}
#TestApp > .cards-container{
  grid-area: cards;
}
#TestApp > .deck-overwiew-container{
  grid-area: deck-overwiew;
}
#TestApp > footer{
  grid-area: footer;
}

#TestApp > header{
  background-color: #1B1D20;
}
#TestApp > .cards-container{
  background-color: #33353E;
}
#TestApp > .deck-overwiew-container{
  background-color: #24242A;
}
#TestApp > footer{
  background-color: #1B1D20;
}



#TestApp > .cards-container{

  display: grid;
  grid-template-columns: repeat(6,auto);
  grid-template-rows: repeat(3,auto);

  grid-gap: 0 2%;
  justify-content: center;
  align-items: center;
  align-content: stretch ;
}

#TestApp > .deck-overwiew-container{
  display:grid;
  align-content: flex-start;
  align-items: center;
  grid-auto-flow: row;
  overflow-y:scroll;
}

#TestApp > header{
  display: inline-grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: 100%;

}


.mana-checkbox > input[type=checkbox] {
  display:none;
}
.mana-checkbox > input[type=checkbox] + label {
  height: 100%;
  display:inline-block;
  padding: 0 0 0 0px;
}

.mana-checkbox > input[type=checkbox]:checked + label {
  background : #D1695B;
  height: 100%;
  display:inline-block;
  padding: 0 0 0 0px;
}

.search-params-window{
  position: fixed;
  top: 0;  
  left: 0;
  display:block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  color: inherit;
  z-index: 100;
}
