<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Main test page</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>

    <div id="TestApp">

      <div class="search-params-window" v-if="optionsOpened">
        <h1>Привет</h1>
        <button type="button" name="button" @click="optionsOpened=!optionsOpened">Press me</button>
      </div>

      <header>

        <div class="mana-checkbox">
          <input type='checkbox' v-model="colors" value='green' id="green"  style="content: url('icons/green.png')"/><label for="green" style="content: url('icons/green.png')"></label>

          <input type='checkbox' v-model="colors" value='black' id="black" style="content: url('icons/black.png')"/><label for="black" style="content: url('icons/black.png')"></label>

          <input type='checkbox' v-model="colors" value='white' id="white" style="content: url('icons/white.png')"/><label for="white" style="content: url('icons/white.png')"></label>

          <input type='checkbox' v-model="colors" value='blue' id="blue" style="content: url('icons/blue.png')"/><label for="blue" style="content: url('icons/blue.png')"></label>

          <input type='checkbox' v-model="colors" value='red' id="red" style="content: url('icons/red.png')"/><label for="red" style="content: url('icons/red.png')"></label>

          <input type='checkbox' v-model="colors" value='colorless' id="colorless" style="content: url('icons/colorless.png')"/><label for="colorless" style="content: url('icons/colorless.png')"></label>
        </div>

        <input type="text" v-model="sets">

        <button type="button" name="button" @click="optionsOpened=!optionsOpened"></button>

      </header>

      <div class="cards-container">
        <div class="card-container" v-for="card in cardList" @click="addCard(card)"><img :src="card.imageUrl" alt="" width=100%></div>
      </div>



      <div class="deck-overwiew-container">
        <h3 v-for="item in choosenCards">{*item.card.name*} - {*item.count*}</h3>
      </div>

      <footer>
        <img src="icons/arrow-left-icon.png" height=100% alt="" @click="prevPage">
        <img src="icons/arrow-right-icon.png" height=100% align="right"alt="" @click="nextPage">
      </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
  </body>
</html>
